<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a href="" class="simple-text logo-normal">
        SOCIO ANALYZER
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home" >
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/list-tags" >
            <i class="material-icons">content_paste</i>
            <p>List Tags</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>
  <div class="main-panel">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    
  </div>
</div>

